i {
  font-size: 30px;
}

.fa-facebook-square {
  color: blue;
}

.fa-youtube {
  font-size: 40px;
  color: red;
}

.fa-instagram {
  font-size: 50px;
  color: #c13584;
}

.fa-github-square {
  font-size: 70px;
  color: #6e5494;
}
